.menu {
    width: 50%;
    height: 100;
}

.menu-container {
    display: flex;
    width: 540px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.menu__list {
    display: flex;
    list-style: none;
    margin: 0;
    position: absolute;
    right: 0;
}

.menu__item {
    display: flex;
    width: 100%;
    // height: 100%;
    display: block;
    position: relative;
}

.menu-item__block {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

.menu__item-btn {
    background: transparent;
    border: none;
    width: 281px;
    transform: rotate(-90deg);
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    position: absolute;
}

.menu__item-title {
    width: 80px;
    height: 100vh;
    background: url('../img/menu_item_bg.jpg') center bottom / cover no-repeat #2f3032;
    color: #fff;
    font-family: 'Gagalin';
    text-align: left;
}

.menu__desc {
    width: 0;
    overflow: hidden;
    height: 100%;
    background: #2f3032;
    opacity: 0.8;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    // display: none;

    &--active {
        width: 460px;
    }
}

.menu__text {
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #fff;
    margin: 30px 30px 0;
}
