.best__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(40px);
    text-align: center;
    padding: 0;
}

.best__item {
    width: calc(100% / 3 - 26px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best__icon {
    width: rem(100px);
}

.best__title {
    font-family: 'Lifehack';
    font-size: rem(24px);
    margin-bottom: rem(25px);
    color: #2f3234;
}

.best__text {
    font-family: 'Ubuntu';
    color: #2f3234;
    text-align: center;
    font-size: rem(14px);
    line-height: rem(24px);
}

.best__img-elem {
    width: rem(100px);
}