%clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

body {
    margin: 0;
    padding: 0;
}

.container {
    @extend %clearfix;
    min-width: 1100px;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, li {
    margin: 0;
    padding: 0;
}