%clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    overflow: hidden;

}

.container {
    @extend %clearfix;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, li {
    margin: 0;
    padding: 0;
}