.burger__content {
    width: rem(880px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.burger__text {
    margin-left: rem(10px);
    margin-top: rem(75px);
}

.section-title {
    font-family: 'Gagalin';
    color: #f9b43b;
    font-size: rem(72px);

    &-black {
        color: #2f3234;
        margin-top: rem(75px);
    }

    &-white {
        color: #fff;
    }
}

.natural__text {
    font-family: 'Lifehack';
    color: #fff;
    font-size: rem(65px);
}