.burger__content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include laptop {
        display: flex;
        justify-content: center;
    }

    @include tablets {
        flex-direction: column;
        margin: 0;
        align-items: center;
        width: 20%;
    }
}

.burger__text {
    margin-left: rem(10px);
    margin-top: rem(75px);

    @include tablets {
        margin-top: 2.5rem;
        text-align: center;
    }
}

.burger__img {

    @include laptop {
        width: rem(472px);
    }

    @include phones {
        width: rem(350px);
    }

}

.section-title {
    font-family: 'Gagalin';
    color: #f9b43b;
    font-size: rem(72px);

    &-black {
        color: #2f3234;
        margin-top: rem(75px);

        @include tablets {
            margin-top: rem(20px);
        }

        @include phones {
            font-size: 3rem;
        }
    }

    &--white {
        color: #fff;

        @include tablets {
            font-size: 3.5rem;
        }
    }

    &--red {
        color: #e45028;
        font-size: rem(71px);
    }

    &-cur {
        font-size: rem(29px);
    }

    @include laptop {
        font-size: 4rem;
    }

    @include phones {
        font-size: 3rem;
    }
}

.natural__text {
    font-family: 'Lifehack';
    color: #fff;
    font-size: rem(65px);

    @include laptop {
        font-size: 3.5rem;
    }
}