.slider__container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__burger {
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @include laptop {
        width: 90%;
    }
    
    @include tablets {
        width: 90%;
    }

    @include phones {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }
}

.slider_col {
    width: 40%;

    @include laptop {
        width: 80%;
        text-align: center;
    }

    @include tablets {
        width: 80%;
        text-align: center;
    }

    @include phones {
        width: 100%;
    }
}

.slider__icon-left {
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: url('../img/scroll_left.png') center center / cover no-repeat;
    background-color: transparent;
    border: none;
}

.slider__icon-right {
    width: 15px;
    height: 30px;
    cursor: pointer;
    background: url('../img/scroll_right.png') center center / cover no-repeat;
    background-color: transparent;
    border: none;
}

.contain__container {
    width: rem(95px);
    height: rem(80px);
    background: #f08c33;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contain__icon {
    width: 100%;
    height: 100%;
}

.contain__icon-img {
    width: 90%;
    height: 90%;
}

.contain__text {
    font-family: 'Gagalin';
    margin-top: -25px;
}

.slider__text {
    font-family: 'Ubuntu';
    color: #fff;
    font-size: rem(14px);
}

.slider-cost {
    display: flex;
    position: relative;
}

.order-pos {
    position: absolute;
    top: 42px;
    left: 250px;
}