.burger-slider__container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-slider__burger {
    position: relative;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @include laptop {
        width: 90%;
    }
    
    @include tablets {
        width: 90%;
    }

    @include phones {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }
}

.burger-slider_col {
    width: 35%;

    @include laptop {
        width: 80%;
        text-align: center;
    }

    @include tablets {
        width: 80%;
        text-align: center;
    }

    @include phones {
        width: 100%;
    }
}

.burger-slider__icon {
    cursor: pointer;
}

.contain__container {
    width: rem(80px);
    height: rem(80px);
    background: #f08c33;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contain__icon {
    width: 100%;
    height: 100%;
}

.contain__icon-img {
    width: 90%;
    height: 90%;
}

.contain__text {
    font-family: 'Gagalin';
    margin-top: -25px;
}