.burger__content {
    width: rem(880px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include laptop {
        display: flex;
        justify-content: center;
    }

    @include tablets {
        flex-direction: column;
        margin: 0;
        align-items: center;
        width: 20%;
    }
}

.burger__text {
    margin-left: rem(10px);
    margin-top: rem(75px);

    @include tablets {
        text-align: center;
    }
}

.burger__img {

    @include laptop {
        // width: 95%;
    }

}

.section-title {
    font-family: 'Gagalin';
    color: #f9b43b;
    font-size: rem(72px);

    &-black {
        color: #2f3234;
        margin-top: rem(75px);
    }

    &--white {
        color: #fff;
    }

    @include laptop {
        font-size: 3.5rem;
    }
}

.natural__text {
    font-family: 'Lifehack';
    color: #fff;
    font-size: rem(65px);

    @include laptop {
        font-size: 3rem;
    }
}