.contacts {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contacts__container {
    width: 100%;
}

.contacts__map {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: rem(60px);
    background: url('../img/footer_bg.jpg') center center / cover repeat-x;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer__container {
    width: rem(940px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    p {
        margin: 0;
    }

    width: 50%;
    color: #fff;
    padding: rem(15px) 0;
    font-family: 'Ubuntu';

    .phone {
        color: #e45028;
        font-weight: 700;
        text-decoration: none;
    }
}

.footer-right {
    width: 50%;
}

.social__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    
    li {
        svg {
            &:hover {
                fill: #fff;
            }
        }
   }

   .social__item {
        width: rem(20px);
        height: rem(20px);
        margin-left: rem(20px);
   }
}