.form__container {
    width: rem(940px);
    position: relative;
    margin: 0 auto;

    h2 {
        text-align: center;
        margin-top: rem(135px);

        @include tablets {
            margin: 10% 0;
        }

        @include phones {
            margin: 10% 0;
        }
    }

    @include tablets {
        width: 95%;
    }

    @include phones {
        width: 95%;
    }
    
}

.form__inputs {
    font-family: 'Ubuntu';
    color: #fff;
    margin-top: rem(55px);
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
        margin: auto;
    }
}

input, textarea {
    &:focus {
        border: 3px solid #f9b43b;
    }
}

.form__inputs-col {
    width: 45%;
    margin-right: rem(20px);

    @include tablets {
        width: 90%;
    }
}

.form__label {
    flex: 1;
    margin-right: rem(65px);

    &:last-child {
        margin-right: 0;
    }

    .form__label-title {
        margin-bottom: 5px;
        display: inline-block;
    }
}

.form__label-input {
    width: 100%;
    padding: rem(8px) rem(21px);
    border: 3px solid transparent;
    border-radius: 4px;
}

.form__row {
    display: flex;
    width: 100%;
    margin-bottom: 14px;
    
    textarea {
        height: rem(95px);
    }
}

.order__btn {
    background-color: #e45028;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Ubuntu-medium';
    border: none;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;

    &:focus {
        border: rem(2px) solid transparent;
    }
}

.reset__btn {
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;

    &:focus {
        border: 2px solid transparent;
    }
}

.form__label-radio {

    .form__label-choose {
            width: rem(20px);
            height: rem(20px);
            border-radius: 50%;
            background-color: red;
    }
    
    input {
        display: none;
    }
}