.header {
    width: rem(960px);
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;

    @include laptop {
        max-width: 58.5rem;
    }

    @include tablets {
        width: 95%;
    }
}

.logo {
    @include laptop {
        z-index: 55;
    }
}

.logo__img {
    width: rem(100px);
    height: rem(75px);
}