@import url('./fonts.css');

%clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.container {
    @extend %clearfix;
    min-width: 1100px;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.first__section {
    // width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url('../img/bg.jpg') 55% 0% no-repeat;
}

.section__container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 960px;
    display: flex;
    margin: 10px auto 60px;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 750px;
    padding: 0;
    font-family: 'Ubuntu-medium';

    .nav__list {
        display: flex;
        list-style: none;
    }

    .nav__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;

        &:after {
            content: '•';
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .nav__item:last-child {
        .nav__link:after {
          content: '';
        }
    }
}

.order {
    width: 100px;
    height: 37px;
    background-color: #e45028;
    border-radius: 5px;
    padding: 13px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Ubuntu-medium';

    .order_btn {
        text-transform: uppercase;
        font-size: 13px;

        .btn {
            color: #fff;
            text-decoration: none;
        }
    }

    &:hover {
        background-color: #c1401e;
    }
}

.burger {
    width: 880px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.burger__text {
    margin-left: 10px;
    margin-top: 75px;
}

.wedo__text {
    font-family: 'Gagalin';
    color: #f9b43b;
    font-size: 72px;
}

.natural__text {
    font-family: 'Lifehack';
    color: #fff;
    font-size: 65px;
}