.modal {
    width: 20%;
    height: 30%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 15px;
    background: #fff;
    padding: 10px 30px;
    font-family: 'Ubuntu';
    text-align: center;
    z-index: 1000;

    @include laptop {
        width: 40%;
    }

    @include tablets {
        width: 40%;
    }
}

.modal__text-error {
    color: #e45028;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Ubuntu';
}

.modal__btn {
    width: 100px;
    height: 41px;
    background: #e45028;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 7px;
}