.modal {
    width: 20%;
    height: 30%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 15px;
    background: #1c1c1c;
    padding: 10px 30px;
    font-family: 'Ubuntu';
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    border: 3px solid #f9b43b;

    @include laptop {
        width: 40%;
    }

    @include tablets {
        width: 40%;
    }
}

.modal__text-error {
    color: #e45028;
    text-transform: uppercase;
}

.modal__text-succes {
    color: #faf9f8;
    text-transform: uppercase;
}

.modal__btn {
    width: 100px;
    height: 41px;
    background: #e45028;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 7px;
    font-weight: bold;
}

.modal__review {
    @extend .modal;
    @include tablets {
        width: 70%;
        height: 30%;
    }
}