.nav {
    width: rem(750px);
    padding: 0;
    font-family: 'Ubuntu-medium';

    .nav__list {
        display: flex;
        list-style: none;
    }

    .nav__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: rem(13px);

        &:after {
            content: '•';
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .nav__item:last-child {
        .nav__link:after {
          content: '';
        }
    }

    @include tablets {
        display: none;
    }
}

.scroll__down {
    width: rem(30px);
    height: rem(15px);
    position: absolute;
    left: 50%;
    bottom: 40px;
    cursor: pointer;
}