.nav {
    width: rem(750px);
    padding: 0;
    font-family: 'Ubuntu-medium';

    .nav__list {
        display: flex;
        list-style: none;
    }

    .nav__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: rem(13px);

        &:after {
            content: '•';
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .nav__item:last-child {
        .nav__link:after {
          content: '';
        }
    }

    @include tablets {
        display: none;
    }
}

.scroll__down {
    width: rem(30px);
    height: rem(15px);
    position: absolute;
    left: 50%;
    bottom: 40px;
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
}

.hamburger-nav {
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 50px;
    right: 100px;
    cursor: pointer;

    &:before {
        content: '';
        width: 35px;
        height: 5px;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: -10px;
        right: 0;
    }
    
    &:after {
        content: '';
        width: 35px;
        height: 5px;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        right: 0;
    }

    &:hover {
        &:before {
            top: 0;
            transform: rotate(-45deg);
            transition: .5s;
        }

        &:after {
            top: 0;
            transform: rotate(45deg);
            transition: .5s;
        }

        background: transparent;
    }

}