.video__container {
    width: 100%;
}

.player__wrap {
    width: rem(660px);
    height: rem(405px);
    position: relative;
    margin: 0 auto;
}

.player {
    padding-top: 50px;

    h2 {
        color:#2F3234;
        text-align: center;
        margin-bottom: 50px;
    }
}

.video__controls {
    width: rem(660px);
    height: 33px;
    background-color: #3E3E3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

.control {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control__btn {
    width: 20px;
    height: 20px;
}

.play, .volume {
    width: 20px;
    height: 20px;
    fill: #656565;
    cursor: pointer;
}

.playback {
    width: 400px;
    height: 5px;
    background: #656565;
    position: relative;
    cursor: pointer;
}

.volume__range {
    width: 60px;
    height: 5px;
    background: #656565;
    position: relative;
    cursor: pointer;
}

.duration {
    color: #656565;
    font-family: 'Ubuntu';
}

.duration span:first-child{
    margin-right: 10px;
}

.range__btn {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #656565;
    position: absolute;
    top: -100%;
    left: 0%;

    &--volume {
        left: 75%;
    }
}